.section {
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  padding-top: 120px; /* ajusta se o seu header tiver 80px de altura */
  text-align: center;
  box-sizing: border-box;
}

.section h2 {
  padding-top: 0px;
  padding-bottom: 50px;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}


@media (max-width: 768px) {
  .section {
    padding: 20px;
  }

  .section h2 {
    padding-top: 80px;
    padding-bottom: 30px;
  }
}