.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background: rgba(89, 113, 248, 0.233);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card h1 {
  font-size: 1.6em;
  color: #ccc;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1em;
  color: #ccc;
  margin-top: 8px;
  margin-bottom: 10px;
}

.card p {
  color: #ccc;
  font-size: 1.2em;
  font-weight: bold;
  background-color: rgba(129, 129, 129, 0.24);
}

.cardLinks {
  margin-top: 20px;
  padding-top: 6px;
  border-top: 1px solid #ccc;
  height: 30px;
}
.cardLinks a {
  font-size: 1em;
  color: #ccc;
  font-weight: bold;
  text-decoration: none;
  margin: 0 5px;
  padding-top: 20px;
}

.card a:hover {
  color: #ffffff70;
  text-decoration: underline;
}