* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.header {
  width: 100%;
  height: 60px;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: inherit;
  transition: color 0.2s ease;
}

button:hover {
  color: silver !important;
}

